@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.container {
    @include flex-config( space-between, flex-start);
    gap: 6em;
    &__left-side {
        @include flex-config( flex-start, flex-end, column);
        flex: 1 1 0px;
        .hero-title {
            background-image: url('https://images.unsplash.com/photo-1553443236-e031f8bb39ae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80');
            background-size: cover;
            background-clip: text;
            color: transparent;
            font-family: 'Roboto', sans-serif;
            font-size: 6.5em;
            font-weight: 900;
            letter-spacing: 0.2rem;
            line-height: 0.95em;
            margin-top: 0.5em;
            text-align: right;
            text-transform:uppercase;
        }
        .hero-subtitle {
            color: $dark-primary;
            font-size: 1.6em;
            margin: 1em 0;
            text-align: right;
            &__highlight {
                color: $main-secondary;
            }
        }
    }
    &__right-side {
        @include flex-config( center, center, column);
        flex: 1 1 0px;
        text-align: right;
        .hero-image {
            object-fit: cover;
            max-width: 90%;
            min-width: 310px;
        }  
    }
}
@media screen and (max-width: 1500px) {
    .container {
        @include flex-config( center, center);
        gap: 2em;
        &__left-side {
            @include flex-config( flex-end, flex-end, column);

            .hero-title { 
                font-size: 4.5em;
                text-align: right;
            }
            .hero-subtitle {
                font-size: 1.4em;
                text-align: right;
            }
        }
        &__right-side {
            @include flex-config( flex-end, flex-start, column);

            flex: 1 1 0px;
            text-align: right;
            .hero-image {
                object-fit: cover;
                max-width: 70%;
                min-width: 310px;
            }  
        }
    }
}
@media screen and (max-width: 690px) {
    .container {
        &__left-side {
            @include flex-config( center, center, column);
            gap: 10px;
            .hero-title { 
                font-size: 3.5em;
            }
            .hero-subtitle {
                display: none;
            }
        }
        &__right-side {
            display: none;
        }
    }
}
