@import "../../styles/colors.scss";

.main-btn {
    background-color: transparent;
    border: 1px solid $main-secondary;
    border-radius: 5px;
    color: $main-secondary;      
    cursor: pointer;
    font-size: 1em;
    padding: 1.4em 2.5em;
    transition: 200ms;
    width: 200px;
    
    &:hover {
        color: white;
        background-color: $bright-secondary;
        border: 1px solid $bright-secondary;

    }
    &--selected {
        background-color: $main-secondary;
        border: 1px solid $main-secondary;
        color: white;
    }
    &:disabled {
        background-color: $main-secondary;
        border: 1px solid $main-secondary;
        color: white;
        cursor:default;
    }
}
