@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.detail {
    @include flex-config(space-between, center, column);
    background: linear-gradient(to bottom, rgba(45, 45, 45, 0) 15%,rgba(255, 255, 255, 0.968) 100%);
    position: relative;
    border-radius: 50px;
    border: 4px solid white;
    margin: 2em auto 1em auto;
    max-width: 850px; 
    padding: 5em 1em 2em 1em;
    &__background {
        border-radius: 40px;
        position: absolute;
        height: 100%;
        width: 100%;
        filter: opacity(0.15) grayscale(90%);
        object-fit: cover;
        top: 0;
        z-index: -1;
    }
    &__go-back{
        position: absolute;
        cursor: pointer;
        font-size: 0.9em;
        top: 40px;
        left: 20px;
        width: 170px;
        padding: 0.5em 2em;
        
    }
    &__poster {
        border-radius: 5%;
        max-width: 40%;
        max-height: 400px;
        padding: 0.5em 0;
    }
    &__title {
        color: $darkest-primary;
        font-size: 1.4em;
        padding: 0.5em 0;
    }
    &__rating {
            max-width: 8%; 
            min-width: 45px;
            padding: 0.3em 0;
    }
    .CircularProgressbar-path {
        stroke: $main-secondary;
    }
    .CircularProgressbar-text {
        fill: $main-secondary;
        font-size: 1.9em;
        font-weight: bolder;
    }
    &__info {
        @include flex-config(space-between, center);
        gap: 4em;
        padding-bottom: 0.8em;
        text-align: center;
        .length-title, .year-title, .language-title {
            color: rgba($darkest-primary, 0.6);
            font-weight: bolder;
            font-size: 0.9em;
        }
        .length, .language, .year {
            color: rgba($darkest-primary, 1);
            font-weight: bolder;
            font-size: 0.9em;
        }
        .language {
            text-transform: capitalize;
        }
    }
    .similar-title {
        padding-bottom: 0.5em;
    }
    .story-line-text {
        color: rgba($darkest-primary, 0.6);
        font-size: 0.9em;
        font-weight: 600;
        width: 70%;
        padding: 1.5em 0;
    }
}
@media screen and (max-width: 1500px) {
    .detail {
        max-width: 60%;
    }
}
@media screen and (max-width: 690px) {
    .detail {
        min-width: 270px;
        &__poster {
            min-width: 150px;
        }
        &__info {
            @include flex-config(center, center, column);
            gap: 0.5em;
        }
        &__title {
            font-size: 1.2em;
        }
    }
}


