@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

nav {
    border-bottom: 1.5px solid #fffdfd;
    font-size: 0.9em;
    margin-bottom: 3.5em;
    padding: 1.3em 0;
}
.nav-list {
    @include flex-config( space-between, center);
    .nav-nested-list {
        @include flex-config( space-around, center);
        &__item {
            font-weight: bolder;
            border-bottom: 2px solid transparent;
            margin: 0 2.5em;
            padding: 0 0.5em;
            transition: 200ms;
            &:hover {
                border-bottom: 2px solid $dark-primary;
            }
        }
    }
    .contactUs {
        color: white;
        font-size: 0.9em;
        background-color: $darkest-primary;
        padding: 0.5em 2.2em;
        border-radius: 5px;
        transition: 200ms;
        &:hover {
            background-color: $dark-primary;
        }
    }
}
.logo {
    color: $dark-primary;
    font-size: 1.9em;
}
@media screen and (max-width: 690px) {
    nav {
        font-size: 0.7em;
    }
    .nav-list {
        .nav-nested-list {
            display: none;
        }
    }
}