@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.list {
    @include flex-config( space-between, flex-start);
    flex-wrap: wrap;
    margin-top: 6em;
    gap: 2em;

    .list-item {
        flex: 1 200px;
        background-color: $darkest-primary;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        text-align: center;
        &__image {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            object-fit: cover;
            height: 300px;
            width: 100%;
        }
        &__info {
            @include flex-config( space-between, center, column);
            .info-title {
                font-size: 1em;
                font-weight: 400;
                color: white;
                width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .info-votes {
                font-size: 0.8em;
                font-weight: 400;
                color: white;
            }
        }
    }
}